
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.card {
  display: inline-block;
  width: 30%;
  height:50%;
  padding: 5px;
}
.cardJ {
  width: 100%;
  align-items: center;
  padding: 5px;
}
.cardOp{
  display: inline-block;
  width: 100%;
  padding: 5px;
  margin-bottom: 5%;
  -webkit-box-shadow: 0px 0px 1px 5px rgba(69,68,69,0.28);
  -moz-box-shadow: 0px 0px 1px 5px rgba(69,68,69,0.28);
  box-shadow: 0px 0px 1px 5px rgba(69,68,69,0.28);
}
.imagenes{
  display: inline-block;
}
.img{
  width: 10%;
}
.carrito{
  width: 100%;
}
.footer {
  position: relative;
  bottom: 0px;
  left:37.5%;
  width: 25%;
}
.flecha{
  position: absolute;
  right: 50px;
  bottom: 50px;
  width:20%;
}
.sele{
  padding: 10px;
  width: 70%;
  float: right;
  margin-right: 10px;
}
.precios {
  display:inline;
  height: 10px;
}
