
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.card {
  display: inline-block;
  width: 30%;
  height:11em;
  padding: 5px;
}
.cardJ {
  width: 100%;
  align-items: center;
  padding: 5px;

}
.imagenes{
  display: inline-block;
}
.img{
  width: 10%;
}
.carrito{
  width: 100%;
}
.footer {
  position: relative;
  bottom: 0px;
  left:37.5%;
  width: 25%;
}
