<ion-view cache-view="false" title="Login" id="page3" style="">
  <ion-content padding="true" class="has-header">
    <ion-card ng-repeat="p in ca.productos"><br>
      <div class="md-whiteframe-5dp" style="padding:10px;height:33%" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
        <div class="">
          <input type="image" name="button" ng-click="borrar({{p}})" style="float:right;width:10%;top:0px;" src="http://www.clker.com/cliparts/N/8/h/O/7/G/black-cross-md.png"></input>
          <h1 style="text-align:center;">{{p.producto.nombre}}</h1>
        </div>
      <ion-card-content>
        <img src="{{p.producto.url}}" style="width:30%;float:left;">
        <!--<h3 style="text-align:center;float:center;">{{p.producto.precio}}€ </h3>-->
        <h2 style="float:right;">{{p.producto.calculado}}€</h2>
        <br><br><br><br>
      </ion-card-content>
    </div>
    </ion-card>
  <div class="footer">
    <button style="width:100%;" ng-click="comprar()"><h4>Comprar</h4></button>
  </div>
  </ion-content>
</ion-view>
