<ion-view title="Login" id="page3" style="">
  <ion-content padding="true" class="has-header">
    <ion-card ng-repeat="p in ca.productos">
      <h1 style="text-align:center;">{{p.producto.nombre}}</h1>
      <input type="image" name="button" ng-click="borrar({{p}})" style="float:right;width:10%" src="http://www.clker.com/cliparts/N/8/h/O/7/G/black-cross-md.png"></input>
      <div>
      <ion-card-content style="align:center;">
        <img src="{{p.producto.url}}" style="width:30%;height:250px;">
        <h3 style="text-align:center;">{{p.producto.precio}}€ </h3>
        <h2 style="margin-left:80%;;">{{p.producto.calculado}}€</h2>
      </ion-card-content>
    </div>
    </ion-card>
  </ion-content>
</ion-view>
