<ion-view view-title="Tienda">
    <ion-tabs class="tabs-striped tabs-top tabs-color-assertive">

      <ion-tab title="Juegos" ui-sref="app.tabs.juegos">
            <ion-nav-view name="menuContent"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Consolas" ui-sref="app.tabs.consolas">
            <ion-nav-view name="menuContent"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Smartphone Tablet" ui-sref="app.tabs.smart">
            <ion-nav-view name="menuContent"></ion-nav-view>
      </ion-tab>

    </ion-tabs>
</ion-view>
