<ion-view cache-view="false" title="Inicio" id="page3" style="">
  <ion-content padding="true" class="has-header">
    <h1>Mas populares</h1>
      <div class="scrolling-wrapper">
        <div class="card" ng-repeat="p in ini.productosPopu" ng-click="selecciona({{p}})">
          <div flex>{{p.nombre}}</div>
          <div flex><img src="{{p.url}}" style="width:100%;height:auto;"></div>
          <div flex style="bottom:0;">{{p.precio-p.precio*p.descuento/100}}€</div>
        </div>
      </div>
      <h1>Recomendados</h1>
        <div class="scrolling-wrapper">
          <div class="card" ng-repeat="p in ini.productosReco" ng-click="selecciona({{p}})">
            <div flex>{{p.nombre}}</div>
            <div flex><img src="{{p.url}}" style="width:100%;height:auto;"></div>
            <div flex style="bottom:0;">{{p.precio-p.precio*p.descuento/100}}€</div>
          </div>
        </div>
        <h1>Mejor valorados</h1>
          <div class="scrolling-wrapper">
            <div class="card" ng-repeat="p in ini.productosValo" ng-click="selecciona({{p}})">
              <div flex>{{p.nombre}}</div>
              <div flex><img src="{{p.url}}" style="width:100%;height:auto;"></div>
              <div flex style="bottom:0;">{{p.precio-p.precio*p.descuento/100}}€</div>
            </div>
          </div>
          <h1>Ofertas</h1>
            <div class="scrolling-wrapper">
              <div class="card" ng-repeat="p in ini.productosOfer" ng-click="selecciona({{p}})">
                <div flex>{{p.nombre}}</div>
                <div flex><img src="{{p.url}}" style="width:100%;height:auto;"></div>
                <div flex style="bottom:0;">{{p.precio-p.precio*p.descuento/100}}€</div>
              </div>
            </div>
  </ion-content>
</ion-view>
