  <ion-view cache-view="false" title="Login" id="page3" style="">
    <ion-content padding="true" class="has-header">
      <ion-card style="top-margin:1000px;">
        <h1 style="text-align:center;">{{pro.nombre}}</h1>
        <div class="" style="align:center;">
        <ion-card-content>
          <img src="{{ur}}" style="width:100%;height:250px;">
          <div class="imagenes">
            <img src="{{pro.url.url1}}" class="img" ng-click="cambiar(pro.url.url1)" >
            <img src="{{pro.url.url2}}" class="img" ng-click="cambiar(pro.url.url2)" >
            <img src="{{pro.url.url3}}" class="img" ng-click="cambiar(pro.url.url3)" >
            <img src="{{pro.url.url4}}" class="img" ng-click="cambiar(pro.url.url4)" >
          </div>
        <br>
          <h3 style="text-align:center;">{{pro.precio}}€ </h3>
           <h2 style="margin-left:80%;;">{{pro.descuento}}%</h2>
        </ion-card-content>
      </div>
      </ion-card>
      <div class="">
        <button class="button button-positive button-block"  ng-click="com({{pro}})"><h4>Comprar</h4></button>
        <button class="button button-positive button-block"  ng-click="com({{pro}})">Añadir al carrito</button>
    </ion-content>
  </ion-view>
