<ion-view cache-view="false" title="Login" id="page3" style="">
  <ion-content padding="true" class="has-header">
    <form id="login-form4" class="list">
      <label class="item item-input" id="login-input4">
        <span class="input-label" >DNI</span>
        <input type="text" placeholder="" ng-model="user.dni">
      </label>
      <label class="item item-input" id="login-input4">
        <span class="input-label" >Nombre</span>
        <input type="text" placeholder="" ng-model="user.nombre">
      </label>
      <label class="item item-input" id="login-input4">
        <span class="input-label" >Apellido 1</span>
        <input type="text" placeholder="" ng-model="user.apellido1">
      </label>
      <label class="item item-input" id="login-input4">
        <span class="input-label" >Apellido 2</span>
        <input type="text" placeholder="" ng-model="user.apellido2">
      </label>
      <label class="item item-input" id="login-input4">
        <span class="input-label" >Correo</span>
        <input type="text" placeholder="" ng-model="user.mail">
      </label>
      <label class="item item-input" id="login-input4">
        <span class="input-label" >user</span>
        <input type="text" placeholder="" ng-model="user.usuario">
      </label>
      <label class="item item-input" id="login-input4">
        <span class="input-label" >Pass</span>
        <input type="text" placeholder="" ng-model="user.pass">
      </label>
      <label class="item item-input" id="login-input4">
        <span class="input-label" >Repetir Pass</span>
        <input type="text" placeholder="" ng-model="user.pass2">
      </label>
      <label class="item item-input" id="login-input4">
        <span class="input-label" >URL imagen</span>
        <input type="text" placeholder="" ng-model="user.url">
      </label>
    </form>
    <input type="image" src="https://cdn0.iconfinder.com/data/icons/social-messaging-ui-color-and-lines-1/2/29-512.png" ng-click="regis()">

  </ion-content>
</ion-view>
